$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$navTopHeight: 45px;
$navHeight: 163px;
$smallNavHeight: 60px;
$reorganizeNavAt: 950px;

header {
	position: fixed;
	top:0; left:0; right:0;
	z-index:11;
}

.header-logo {
	transition: $smallNavDuration all $smallNavEasing !important;
	position: absolute;
	top: 40px; left:0;
	width: 178px;
	display: block;
	img { width: 100%;}

	.small-nav & {
		top: 10px;
		width: 80px;
	}
}


.page-wrapper {
	padding-top: $navHeight;
}