.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	display:none;
	color: #fff;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:5px; left: 5px;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	z-index: 12;
	@include transition( $smallNavDuration all $smallNavEasing 0s );
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
	.small-nav & { top:18px; }
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				@include transform( rotate3d(0,0,1,-45deg) ); 
			}
		}
		
	}
	
}

@media screen and (min-width: $collapseNavAt) {

	.nav-wrap {
		transform:translateZ(0);
		position: fixed;
		top:0; left:0; right:0;
		background: #fff;
		z-index: 10;
		background: $lightBackgroundColor;
	}

	.nav-meta-bar {
		position: absolute;
		top:10px; left:0; right:0;
		z-index: 2;
	}

	.nav-meta-nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.nav-meta-logo {

		font-family: Oswald;
		text-transform: uppercase;
		font-weight:300;
		margin-left: 20px;
		padding-left: 20px;
		border-left: 1px solid #dbdbdb;

		span,
		a {
			display: inline-block;
			vertical-align: middle;
		}

		span { margin-right: 10px;}

		img { width: 110px;}
	}

	nav {
		position: relative;
		z-index: 1; 
		padding: 100px 0 20px;
		margin-left: 100px;


		ul {
			display: flex;
			justify-content: flex-end;
		}

		a { 
			font-weight: 300; 
			font-size: 14px;
			display: block;
			text-transform: uppercase;
			padding: 12px 14px;
			color: $primaryColor;
			border-radius: $buttonBorderRadius;

			&:hover {
				background: $primaryColor;
				color: #fff;
			}

		}
	}

	.nav-wrap,
	nav {
		transition: $smallNavDuration all $smallNavEasing;
	}

	.small-nav {
		.nav-wrap {
			transform: translate3d(0, -($navHeight - $smallNavHeight), 0);
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}

		nav {
			padding: 110px 0 10px;
		}
	}

}

/* reorganized nav */
@media screen and (max-width: $reorganizeNavAt) and (min-width: $collapseNavAt) {
	.header-logo {
		top: 10px;
		width: 80px;

		.small-nav & {
			background-image: url(../images/ssnl-logo-ico.svg) !important;
			width: 32px;
			height: 32px;
		}
	}

	nav {
		margin-left:0;
		.small-nav & { margin-left: 40px; }
		ul { justify-content: space-between; }
	}
}


/* collapsed nav */
.mobile-nav-bg {display: none;}

@media screen and (max-width: $collapseNavAt) {

	header { position: absolute; }
	.header-logo {
		position: static;
		margin: 10px auto;
		display: block;
		width: 150px;
	}

	.page-wrapper {
		padding-top: 100px;
	}

	$collapsedNavWidth: 290px;
	.mobile-nav-bg {
		@include transform( translateZ(0) );
		@include transition( all 0.4s $ease-in-out-sine );
		width: 100vw;
		height: 10000px;
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 0; left: 0;
		z-index: -1;
		display: block;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;		
		.show-nav & {
			opacity: 1;
			visibility: visible;
			z-index: 21;
			cursor: pointer; 
		}
	}

	.toggle-nav { display: block; }
	.page-wrapper { z-index: 2; }
	
	.nav-wrap {
		@include transform( translateZ(0) );
		position: fixed;
		top:0; left:0; 
		padding-top: 60px;
		height: 100vh;
		z-index: 1;
		width: $collapsedNavWidth;
		overflow-y: scroll;

		.sw {
			max-width: 100%;
		}
	}

	nav {
		background: $primaryColor;
		ul { 
			border-top: 1px solid rgba(0,0,0,0.2);
			background: rgba(0,0,0,0.1);
		}
		a {
			display: block;
			color: #fff;
			text-transform: uppercase;
			padding: 8px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			&:hover {
				background: rgba(0,0,0,0.2);
			}
		}
	}

	.nav-meta-nav {
		margin: 15px 0;
		.button {
			display: block;
			border-radius:0;
		}
	}

	.nav-meta-logo {
		span { display: none;}
		a {
			display: block;
			width: 80%;
			margin: 15px auto;
		}
	}
	
	header,
	.page-wrapper { @include transition( 0.4s all $ease-in-out-sine ); }
	
	.show-nav  {
		body { height: 100vh; overflow: hidden; }
		
		header,
		.page-wrapper { @include transform( translate3d( $collapsedNavWidth, 0, 0 ) ); }
	}

}