/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Theme Specific Colors that we can use below */
$themeColorOne: #A02629;
$themeColorTwo: #17324A;
$themeColorThree: #F9CE7A;
$themeColorFour: #45494D;
$themeColorFive: #C4C7CB;

$primaryColor: $themeColorOne;
$secondaryColor: $themeColorTwo;
$tertiaryColor: $themeColorThree;

$lightBackgroundColor: #f6f6f6;

/* grid */
$gridCollapseLarge: 1600px;
$gridCollapseMedium: 1200px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg': #{$gridCollapseLarge},
	'md': #{$gridCollapseMedium},
	'sm': #{$gridCollapseSmall},
	'xs': #{$gridCollapseExtraSmall}
);

/* fonts */
$defaultFontStack: helvetica,arial,sans-serif !default;
$serifFontStack: georgia,garamond,serif !default;
$sansSerifFontStack: helvetica,arial,sans-serif !default;

@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}


$defaultFontStack: Oxygen,$sansSerifFontStack;

/* body */
$pageBackgroundColor: #fff;
$darkBackgroundColor: $secondaryColor;
$darkBackgroundContentColor: #C4C7CB;
$sectionSeparatorColor: #C4C7CB;
$darkSectionSeparatorColor: #C4C7CB;
$separatorColor: darken(#C4C7CB,20);

$bodyContentColor: #45494D;
$bodyBackgroundColor: $lightBackgroundColor;

$wrapperWidth: 1200px;
$collapseNavAt: 850px;
$pageWrapperWidth: 1920px;

/* footer */
$footerBackgroundColor: $secondaryColor;
$footerContentColor: #C4C7CB;
$footerLinkColor: $footerContentColor;
$footerHoverColor: #fff;

$copyrightBackgroundColor: $footerBackgroundColor;
$copyrightContentColor: $footerContentColor;
$copyrightLinkColor: $footerLinkColor;
$copyrightHoverColor: $footerHoverColor;
$copyrightSeparatorColor: $copyrightContentColor;

/* headings */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: $secondaryColor;

$h1Size: 30px;
$h2Size: 28px;
$h3Size: 24px;
$h4Size: 20px;
$h5Size: 18px;
$h6Size: 16px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { 
	font-family: Oswald,$sansSerifFontStack;
	color: $primaryColor;
	text-transform: uppercase;

	footer & {
		color: $footerContentColor;
	}
}
@mixin h1-theme() { font-weight:700; }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() { }
@mixin h6-theme() { }

/* buttons */
/* Use these mixins to define button color, background color, etc */
$buttonBorderRadius: 4px;
@mixin button() {
	transition: 0.2s all $ease-in-out-sine ;
	color: $secondaryColor;
	font-family: Oswald,$sansSerifFontStack;
	font-size: 14px;
	border-radius: $buttonBorderRadius;
	background-color: transparent;
	border: 2px solid $secondaryColor;
	padding: 12px 26px;

	&.fill {
		color: #fff;
		border-color: $secondaryColor;
		background-color: $secondaryColor;
	}
	
	.d-bg &,
	.dark-bg & {
		color: $darkBackgroundContentColor;
		border-color: $darkBackgroundContentColor;
		background: transparent;
	}
	
	&.primary {
		color: $primaryColor;
		border-color: $primaryColor;
		
		&.fill {
			color: #fff;
			background-color: $primaryColor;
		}
	}

	&.tertiary {
		color: $tertiaryColor;
		border-color: $tertiaryColor;
		&.fill {
			color: $secondaryColor;
			background-color: $tertiaryColor;
		}
	}
	
	&.block { 
		display: block;
		text-align: center;
	}
	
	&.small {
		padding: 8px 18px;
		font-size: 13px;
	}

	&.vsmall {
		padding: 4px 10px;
		font-size: 11px;
	}
	
}

@mixin buttonHover() {
	color: #fff;
	background-color: $secondaryColor;
	border-color: $secondaryColor;
	
	.d-bg &,
	.dark-bg & {
		background: #fff;
		border-color: #fff;
		color: $secondaryColor;
	}

	&.fill {
		background: $primaryColor;
		border-color: $primaryColor;
	}

	&.tertiary {
		color: #fff;
		border-color: $tertiaryColor;
		&.fill {
			color: $tertiaryColor;
			background-color: transparent;
		}
	}
	
	&.primary {
		color: #fff;
		background-color: $primaryColor;
		border-color: $primaryColor;

		&.fill {
			color: $primaryColor;
			background-color: #fff;
			
			.d-bg &,
			.dark-bg & {
				color: #fff;
			}
			
		}
	}
	
}

/* article styles */
$sidebarWidth: 460px;
$sidebarCollapseWidth: 950px;

@mixin link-theme() {
	color: $primaryColor;
	display: inline-block;
	position: relative;
	font-weight:500;
	padding: 2px 4px;
	border-bottom: 1px solid $primaryColor;
	
	
	.d-bg &,
	.dark-bg & { 
		color: $darkBackgroundContentColor;
		border-color: $darkBackgroundContentColor;
	}
	
	&,
	&:after {
		transition: 0.15s all $ease-in-out-sine ;
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: $primaryColor;
		
		transform-origin: center bottom ;
		transform: scale(1,0) ;
		z-index: -1;
		
		.d-bg &,
		.dark-bg & {
			background-color: $darkBackgroundContentColor;
		}
		
	}
	
}

@mixin link-hover-theme() {
	color: #fff !important;
	
	.d-bg &,
	.dark-bg & { color: $secondaryColor !important; }
	
	&:after { transform: none ; }	
}

@mixin link-visited-theme() {
	color: $secondaryColor;
	border-color: $secondaryColor;
	&:after {
		background-color: $secondaryColor;
	}
	
	.d-bg &,
	.dark-bg & { color: $darkBackgroundContentColor; }
	
}

@mixin link-active-theme() {
	text-decoration: none;
	color: #fff !important;
	
	&:after { 
		background-color: $primaryColor;
		transform: none ; 
	}
	
}

/* excerpts */
$excerptColor: $primaryColor;

/* lists */
$listNumberColor: $primaryColor;

/* breadcrumbs */
$breadCrumbColor: $primaryColor;
$breadCrumbColorActive: $primaryColor;
$breadCrumbColorHover: $secondaryColor;

/* forms */
$fieldBackgroundColor: #fff;
$fieldTextColor: $secondaryColor;
$fieldPlaceHolderColor: #9EA3A8;
$fieldBorderColor: #e6e6e6;
$fieldFocusedBackgroundColor: #fff;
$fieldSpacing: 10px;
$fieldPadding: 14px;
@mixin field-placeholder() {
	font-family: $defaultFontStack;
	color: $fieldPlaceHolderColor;
	text-transform: uppercase;
}

@mixin my-placeholder() {

	/* 
		cannot rely on autoprefixer because CSSShrink combines placeholder rules
		making them invalid
	*/
	&::-webkit-input-placeholder { 
		font-family: $defaultFontStack,-webkit-placeholder; 
		@content;
	}
	&::-moz-placeholder { 
		font-family: $defaultFontStack,-moz-placeholder; 
		@content;
	}
	&:-moz-placeholder { 
		font-family: $defaultFontStack,--moz-placeholder; 
		@content;
	}
	&:-ms-input-placeholder { 
		font-family: $defaultFontStack,--ms-placeholder; 
		@content;
	}
	&:placeholder { 
		font-family: $defaultFontStack,-placeholder; 
		@content;
	}
}

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: transparent;
$accHandleColor: lighten($secondaryColor,10);
$accHandleColorActive: lighten($secondaryColor,10);

$accHandleBGColor: #e5e5e5;
$accHandleBGColorActive: #d0d0d0;

$accContentBorderWidth: 1px;
$accContentBorderColor: transparent;
$accContentBGColor: #efefef;

$accContentLinkColor: lighten($secondaryColor,10);
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $primaryColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $primaryColor;
$selectorBackgroundColorActive: darken($primaryColor,10);

/* filter section */
$filterBarBackgroundColor: #fff;
$filterBarContentColor: $primaryColor;

$filterControlBackgroundColor: #eee;
$filterControlBackgroundColorActive: $primaryColor;
$filterControlColor: #cecece;
$filterControlColorActive: #eee;